.user {
  position: relative;
  left: 25%;
  right: 0;
  width: 75%;
  background-color: antiquewhite;
  padding: 2px 5px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.user::before {
  content: "あなた:\A";
  white-space: pre; /* または pre-wrap */
  right: 0;
  background-color: antiquewhite;
  padding: 2px 5px;
  border-radius: 3px;
}
.assistant {
  position: relative;
  left: 0;
  right: 25%;
  width: 75%;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  margin-bottom: 2px;
}
.assistant::before {
  content: "AI:\A";
  white-space: pre; /* または pre-wrap */
  left: 0;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
}
