.user p {
  position: absolute;
  left: 25%;
  right: 0;
  width: 75%;
  background-color: antiquewhite;
}

.assistant::user {
  content: "あなた";
  position: absolute;
  right: 0;
  top: 0;
  background-color: antiquewhite;
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
}
.assistant p {
  position: absolute;
  left: 0;
  right: 25%;
  width: 75%;
  background-color: #f0f0f0;
}
.assistant::before {
  content: "AI";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
}
